/*style for nav ul putting a padding around and displaying it as flex*/
nav ul {
    display: flex;
    list-style-type: none;
    padding:10px;

}

/*styling nav li to have curved border and display it across whole page*/
nav li {
    border-radius: 5px;
    width:100%;
}

/*styling navigation links display text in center of link, setting colour as black*/
nav a {
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    color:black;
    padding:15px;
    border:1px solid black;
    line-height: 1;
}

/* making border disappear when user hovers over link*/
nav a:hover {
    border: 1px solid #36b0b6;
}



