<!doctype html>
<html lang="en">
<head>
    <title>ITB Jobs - {% block pageTitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <style>
        @import "/css/nav.css";
        @import "/css/index.css";
    </style>
 </head>
<body>
{% if isLoggedIn == false %}
 <nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/students">Students</a>
        </li>
        <li>
            <a href="/jobs">Jobs</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
    </ul>
</nav>
{% else %}
    {{ username }} logged in
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/students">Students</a>
        </li>
        <li>
            <a href="/jobs">Jobs</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <li>
            <a href="/account">Account</a>
        </li>
    </ul>
</nav>
{% endif %}
<main>
    {% block main %}
    {% endblock %}
</main>

<footer>
    2016 &copy; Stephen Finegan
</footer>

</body>
</html>