{% extends '_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="error">
        Requested cannot be found.
        <br>
        Error - 404.
    </div>
{% endblock %}