{% extends '_base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block main %}
    <h1>
        WELCOME TO ITB JOBS!
    </h1>
<hr color="black">
        {{ successMessage }}
    <p>
        test
    </p>

{% endblock %}