{% extends '_base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block main %}
    <h1>
        SUCCESSFUL LOGIN
    </h1>
    <hr color="black">
{{ successMessage }}
{% endblock %}