{% extends '_base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block main %}
    <h1>
        LOGIN
    </h1>
    <hr color="black">
{{ failed }}
    {{ message }}
    <fieldset class="loginFieldset">
        <form class="inputForm" method="post" action="/loginForm">
            <h3>Login Form</h3>
            <label>USERNAME</label> <input type="text" name="username" id="username" required>
            <label>PASSWORD</label> <input type="password" name="hashedPassword" id="password" required>
            <br>
            <br><input type="submit" value="LOGIN">
        </form>
    </fieldset>
{% endblock %}