{% extends '_base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block main %}
    <h1>
        REGISTER HERE!
    </h1>
    <hr color="black">
    <fieldset class="registerFieldset">
        <form class="inputForm" method="post" action="/registerForm">
            <h3>Register Form</h3>

            <label>FIRST NAME</label> <input type="text" name="firstname" id="firstname" required>
            <label>SURNAME</label> <input type="text" name="surname" id="surname" required>
            <label>USERNAME</label> <input type="text" name="username" id="username" required>
            <label>PASSWORD</label> <input type="password" name="hashedPassword" id="password" required>
            <label>POSITION</label>
            <select name="position" id="position">
                <option value="1">Student</option>
                <option value="2">Lecturer</option>
                <option value="3">Employer</option>
            </select><br>
            <br><input type="submit" value="REGISTER">
        </form>
    </fieldset>
{% endblock %}